<?xml version="1.0"?>
<config>

    <modules>
        <Enru_StockStatus>
            <version>0.1.1</version>
        </Enru_StockStatus>
    </modules>

    <global>
        <helpers>
            <enrustockstatus>
                 <class>Enru_StockStatus_Helper</class>
            </enrustockstatus>
        </helpers>
        <models>
            <enrustockstatus>
                 <class>Enru_StockStatus_Model</class>
            </enrustockstatus>
        </models>
    </global>

    <adminhtml>
        <events>
            <catalog_product_save_before>
                <observers>
                    <enrustockstatus>
                        <class>Enru_StockStatus_Model_Observer</class>
                        <method>setStockStatus</method>
                    </enrustockstatus>
                </observers>
            </catalog_product_save_before>
            <catalog_product_save_after>
                <observers>
                    <enruparentstockstatus>
                        <class>Enru_StockStatus_Model_Observer</class>
                        <method>setParentStockStatus</method>
                    </enruparentstockstatus>
                </observers>
            </catalog_product_save_after>
            <catalog_product_stock_item_mass_change>
                <observers>
                    <enrumassstockchange>
                        <class>Enru_StockStatus_Model_Observer</class>
                        <method>massStockChange</method>
                    </enrumassstockchange>
                </observers>
            </catalog_product_stock_item_mass_change>
        </events>
    </adminhtml>

    <default>
        <enrustockstatus>
        </enrustockstatus>
    </default>


</config>
